* {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  body {
    background-color: lightblue;
    color: white;
  }

  button {
    color: white
  }
  
  td {
    padding: 0px;
    border: 0px;
  }
  
  table {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    margin-bottom: 10px;
  }
  
  .WebFoundations button {
    background-color: #606060;
    border: 0px;
    height: 80px;
    width: 100%;
    font-size: 14px;
  }
  
  .WebFoundations button:hover {
  background-color: #404040;
  }
  
  .WebFoundations thead {
    background-color: #404040;
  }

  .ImprovedStylingWithCSS button {
    background-color: #a955be;
    border: 0px;
    height: 80px;
    width: 100%;
    font-size: 14px;
  }
  
  .ImprovedStylingWithCSS button:hover {
  background-color: #843498;
  }
  
  .ImprovedStylingWithCSS thead {
    background-color: #843498;
  }

  .BuildingInteractiveWebsites {
    color: black;
  }

  .BuildingInteractiveWebsites button {
    background-color: #fffeb7;
    color: black;
    border: 0px;
    height: 80px;
    width: 100%;
    font-size: 14px;
  }
  
  .BuildingInteractiveWebsites button:hover {
  background-color: #ffff64;
  }
  
  .BuildingInteractiveWebsites thead {
    background-color: #ffff64;
  }
  
  #FundamentalsOfHTML td{
    width:33.33%;
  }

  #FundamentalsOfCSS td {
    width:25%;
  }
  
  #DevelopingWebsitesLocally td {
    width:100%;
  }
  #ImprovedStylingWithCSS td {
    width:16.67%;
  }

  #FundamentalsOfWebDesign td {
    width: 33.33%;
  }

  #MakingAWebsiteResponsive td {
    width: 12.5%;
  }

  #CSSTransitionsAndAnimation td {
    width: 100%;
  }

  #JavaScriptSyntaxPartI td {
    width: 12.5%;
  }
  #JavaScriptSyntaxPartII td {
    width: 100%;
  }